name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Navigate to Angular project directory
        run: cd work/frontend/medic/

     

      # Add your other steps here



      - name: Install dependencies
        run: npm install

      - name: Build Angular project
        run: npm run build --if-present
